1.What are data structures, and why are they important?
- Data structures are special ways of organizing and storing data in a computer so that we can use it efficiently.
2. Explain the difference between mutable and immutable data types with examples
- Mutable's can change their content after they are created and immutable can not. ex of mutable- list,set,dict.
ex of immutable- tuple.
3.What are the main differences between lists and tuples in Python3
- Lists are mutable, meaning their elements can be changed, while tuples are immutable and cannot be modified after creation.
Lists use square brackets [ ], and tuples use parentheses ( ).
4. Describe how dictionaries store data
- Dictionaries in Python store data as key-value pairs inside curly braces {}.
Each key is unique and maps to a value, allowing fast lookup by key.
5.Why might you use a set instead of a list in Python?
- You need to automatically remove duplicates — sets store only unique elements.
 You want faster membership checks — x in my_set is quicker than in a list due to hashing.
6.What is a string in Python, and how is it different from a list
- A string in Python is a sequence of characters enclosed in quotes (' ' or " "), like "hello".
A list is a collection of items (which can be of any type) enclosed in square brackets, like ["h", "e", "l", "l", "o"].
7.How do tuples ensure data integrity in Python.
- Tuples ensure data integrity in Python because they are immutable, meaning their contents cannot be changed after creation.
8.What is a hash table, and how does it relate to dictionaries in Python.
- A hash table is a data structure that stores data in key-value pairs using a hashing function to quickly locate keys.
In Python, dictionaries are implemented using hash tables.
9. Can lists contain different data types in Python?
- Yes, lists can contain different data types in Python.
Python lists are heterogeneous, meaning they can hold elements like integers, strings, floats, even other lists or objects — all in the same list.
10.  Explain why strings are immutable in Python.
- Strings are immutable in Python to ensure security, consistency, and efficiency.
11.What advantages do dictionaries offer over lists for certain tasks.
- Dictionaries offer key advantages over lists for certain tasks, especially when key-based access is needed.
12.Describe a scenario where using a tuple would be preferable over a list.
- A tuple is preferable over a list when you want to store fixed, unchangeable data to ensure it cannot be modified.
13.How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values because they only store unique elements. When you try to add a duplicate value to a set, it simply ignores it.
14.How does the “in” keyword work differently for lists and dictionaries.
- In Python, the **in** keyword checks for membership, but it behaves differently for lists and dictionaries.
15.Can you modify the elements of a tuple? Explain why or why not.
- Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.
This immutability ensures data integrity and allows tuples to be used as keys in dictionaries or elements in sets.
16.What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary inside another dictionary. It's used to store hierarchical or grouped data in a structured way.
17. Describe the time complexity of accessing elements in a dictionary.
- Happens only when hash collisions occur frequently, which is uncommon due to Python's efficient hashing and collision handling.
18.In what situations are lists preferred over dictionaries.
- Lists maintain the order of elements, which is useful for sequences or ordered data. If you’re working with simple, unnamed values, lists are cleaner.
19.Why are dictionaries considered unordered, and how does that affect data retrieval.
- Internally, dictionaries use a hash table to store key-value pairs.
Keys are stored based on their hash values, not their insertion order. Internally, dictionaries use a hash table to store key-value pairs.
Keys are stored based on their hash values, not their insertion order.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list retrieves data using index positions, where each element is accessed by its numerical index starting from 0.
A dictionary retrieves data using keys, allowing fast access to values based on meaningful labels rather than position.

Write a code to create a string with your name and print it

In [ ]:
string1="chinmay"
string1

'chinmay'

Write a code to find the length of the string "Hello World"P

In [ ]:
string_1="hello world"
len(string_1)

11

Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
s="Python Programming"
s[3:]

'hon Programming'

 Write a code to convert the string "hello" to uppercase

In [ ]:
s="hello"
s.upper()

'HELLO'

Write a code to replace the word "apple" with "orange" in the string "I like apple"P

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Write a code to create a list with numbers 1 to 5 and print itP

In [ ]:
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
new_list=[1,2,3,4]
new_list.append(10)
new_list

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P

In [ ]:
num=[1,2,3,4,5]
num.remove(5)
num

[1, 2, 3, 4]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
access=['a', 'b', 'c', 'd']
access[1]

'b'

Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list=[10, 20, 30, 40, 50]
list.reverse()

In [ ]:
list

[50, 40, 30, 20, 10]

 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t=(100,200,300)
type(t)

tuple

In [ ]:
print (t)

(100, 200, 300)

 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colour= ('red', 'green', 'blue', 'yellow')
colour[1:4]

('green', 'blue', 'yellow')

 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
min_num=(10, 20, 5, 15)
min(min_num)

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals=('dog', 'cat', 'rabbit')
animals.index("cat")

1

 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits=("kiwi","mango","banana")


if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
a= {1, 2, 3, 4, 5}
a.clear()

In [ ]:
a

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s={1, 2, 3, 4}
s.remove(4)

In [ ]:
s

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
A={1, 2, 3}
B={3, 4, 5}
union_set = A.union(B)

In [ ]:
print(union_set)

{1, 2, 3, 4, 5}

 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
A={1, 2, 3}
B={3, 4, 5}
intersection_set= A.intersection(B)

In [ ]:
print(intersection_set)

{3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d={"name":"Chinmay","age":"28","city":"Indore"}
print(d)

{'name': 'Chinmay', 'age': '28', 'city': 'Indore'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
abc={'name': 'John', 'age': 25}
abc

{'name': 'John', 'age': 25}

In [ ]:
abc["country"]="USA"
abc

{'name': 'John', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
A= {'name': 'Alice', 'age': 30}
A['name']

'Alice'

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
rem={'name': 'Bob', 'age': 22, 'city': 'New York'}
del rem["age"]
rem

{'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
data = {'name': 'Alice', 'city': 'Paris'}

if 'city' in data:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list=["ajay",1,2,2.3,True]
my_tuple=("chinmay",3,4,5,)
my_dictionary={"name":"chinu","age":"28"}
print(my_list)
print(my_tuple)
print(my_dictionary)

['ajay', 1, 2, 2.3, True]
('chinmay', 3, 4, 5)
{'name': 'chinu', 'age': '28'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list:", random_numbers)

Sorted list: [45, 53, 80, 83, 95]

 Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["apple", "banana", "cherry", "orange", "grape"]
print("Element at third index:", my_list[3])

Element at third index: orange

. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}


combined_dict = {**dict1, **dict2}


print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'banana', 'cherry', 'apple'}